@import "./tailwind";
@import "./general";

canvas {
  height: 80% !important;
}

.answer-page {
  .adm-list-item-content-main {
    padding: 0;
  }
}

.adm-toast-icon {
  display: flex;
  justify-content: center;
}
